.header {
   margin: 0px 0px 40px 0px;
   &__container {
      display: flex;
      align-items: center;
      text-align: center;
   }

   &__logo {
   }

   &__menu {
      display: flex;
   }

   &__phone {
   }
}

.menu-header {
   &__item {
      display: flex;
      align-items: center;
   }

   &__link {
      letter-spacing: 0.2em;
      font-weight: 900;
      font-size: 20px;
      line-height: 22px;
      text-transform: uppercase;
      padding: 0px 0px 0px 40px;
      transition: color 0.3s ease 0s;
      color: black;
      text-decoration: underline;
      &:hover {
         color: $darkred;
      }
   }
}

.phone-header {
   margin: 0px 0px 0px 40px;
   &__btn {
      margin: 0px 0px 10px 0px;
      font-weight: 700;
      font-size: 16px;
      padding: 10px 15px;
   }

   &__number {
      font-size: 18px;
      font-weight: 800;
   }
}

//@include breakpoint-down(lg) {
//   font-size: 25px;
//}

//@include breakpoint-down(md) {
//   font-size: 16px;
//}

//@include breakpoint-up(md) {
//   font-size: 25px;
//}

//@include breakpoint-up(lg) {
//   font-size: 32px;
//}
