.info {
   margin: 0px 0px 60px 0px;
   &__container {
   }

   &__title {
      text-align: center;
      font-size: 56px;
      line-height: 60px;
      font-weight: 900;
      margin: 0px 0px 40px 0px;
      @include breakpoint-down(dw2) {
         font-size: 40px;
         margin: 0px 0px 20px 0px;
      }
   }

   &__text {
      p {
         text-align: justify;
         font-size: 22px;
         line-height: 36px;
         font-weight: 500;
         margin: 0px 0px 30px 0px;
         @include breakpoint-down(dw2) {
            font-size: 18px;
            line-height: 26px;
            margin: 0px 0px 20px 0px;
         }
      }
   }
}
