.info {
   margin: 0px 0px 50px 0px;
   &__container {
   }

   &__title {
      text-align: center;
      font-size: 56px;
      line-height: 60px;
      font-weight: 900;
      margin: 0px 0px 20px 0px;
      @include breakpoint-down(dw2) {
         font-size: 40px;
         margin: 0px 0px 10px 0px;
      }
      @include breakpoint-down(dw3) {
         font-size: 36px;
      }
   }

   &__box {
      display: flex;
      align-items: center;
   }

   .box1 {
      &__logo {
         order: 1;
         flex: 1 1 30%;
         img {
            max-width: 90%;
         }
      }

      &__text {
         flex: 1 1 70%;
         font-size: 20px;
         line-height: 36px;
         font-weight: 500;
      }
   }

   .box2 {
      margin: 0px 0px 70px 0px;
      &__logo {
         flex: 1 1 30%;
         img {
            max-width: 100%;
         }
      }

      &__text {
         flex: 1 1 70%;
         font-size: 20px;
         line-height: 36px;
         font-weight: 500;
         text-align: right;
      }
   }

   .box3 {
      &__logo {
         order: 1;
         flex: 1 1 30%;
         img {
            max-width: 100%;
         }
      }

      &__text {
         flex: 1 1 70%;
         font-size: 20px;
         line-height: 36px;
         font-weight: 500;
      }
   }

   //&__text {
   //   p {
   //      text-align: justify;
   //      font-size: 22px;
   //      line-height: 36px;
   //      font-weight: 500;
   //      margin: 0px 0px 30px 0px;
   //      @include breakpoint-down(dw2) {
   //         font-size: 18px;
   //         line-height: 26px;
   //         margin: 0px 0px 20px 0px;
   //      }
   //      @include breakpoint-down(dw3) {
   //         font-size: 16px;
   //         line-height: 22px;
   //         margin: 0px 0px 15px 0px;
   //      }
   //   }
   //}
}
