.info {
   margin: 0px 0px 50px 0px;
   &__container {
   }

   &__title {
      text-align: center;
      font-size: 56px;
      line-height: 60px;
      font-weight: 900;
      margin: 0px 0px 20px 0px;
      @include breakpoint-down(dw2) {
         font-size: 40px;
         margin: 0px 0px 10px 0px;
      }
      @include breakpoint-down(dw3) {
         font-size: 36px;
      }
   }

   &__box {
      display: flex;
      align-items: center;
      @include breakpoint-down(dw3) {
         display: block;
      }
   }

   .box1 {
      &__logo {
         order: 1;
         flex: 1 1 30%;
         @include breakpoint-down(dw3) {
            display: flex;
            justify-content: center;
         }
         img {
            max-width: 100%;
            @include breakpoint-down(dw3) {
               max-width: 70%;
            }
         }
      }

      &__text {
         flex: 1 1 70%;
         font-size: 20px;
         line-height: 36px;
         font-weight: 500;
         @include breakpoint-down(dw2) {
            font-size: 18px;
            line-height: 30px;
         }
         @include breakpoint-down(dw3) {
            font-size: 18px;
            line-height: 28px;
            text-align: center;
         }
         @include breakpoint-down(dw4) {
            font-size: 16px;
            line-height: 28px;
            text-align: center;
         }
      }
   }

   .box2 {
      margin: 0px 0px 70px 0px;
      @include breakpoint-down(dw2) {
         margin: 0px 0px 0px 0px;
      }

      &__logo {
         flex: 1 1 30%;
         @include breakpoint-down(dw3) {
            display: flex;
            justify-content: center;
         }
         img {
            max-width: 100%;
            @include breakpoint-down(dw3) {
               max-width: 70%;
            }
         }
      }

      &__text {
         flex: 1 1 70%;
         font-size: 20px;
         line-height: 36px;
         font-weight: 500;
         text-align: right;
         @include breakpoint-down(dw2) {
            font-size: 18px;
            line-height: 30px;
         }
         @include breakpoint-down(dw3) {
            font-size: 18px;
            line-height: 28px;
            text-align: center;
         }
         @include breakpoint-down(dw4) {
            font-size: 16px;
            line-height: 28px;
            text-align: center;
         }
      }
   }

   .box3 {
      &__logo {
         order: 1;
         flex: 1 1 30%;
         @include breakpoint-down(dw3) {
            display: flex;
            justify-content: center;
         }
         img {
            max-width: 100%;
            @include breakpoint-down(dw3) {
               max-width: 70%;
            }
         }
      }

      &__text {
         flex: 1 1 70%;
         font-size: 20px;
         line-height: 36px;
         font-weight: 500;
         @include breakpoint-down(dw2) {
            font-size: 18px;
            line-height: 30px;
         }
         @include breakpoint-down(dw3) {
            font-size: 18px;
            line-height: 28px;
            text-align: center;
         }
         @include breakpoint-down(dw4) {
            font-size: 16px;
            line-height: 28px;
            text-align: center;
         }
      }
   }
}
