.main {
   &__container {
      display: flex;
   }

   &__body {
      flex: 1 1 50%;
      padding: 106px 0px 80px 50px;
      position: relative;
      z-index: 2;
      max-width: 500px;
   }

   &__image {
      flex: 1 1 50%;
      //height: 100%;
      //width: 100%;
      //top: 0;
      //right: 0;
   }
   img {
      padding: 120px 0px 0px 0px;
      width: 100%;
   }
}

.body-main {
   max-width: 450px;
   &__title {
      font-size: 56px;
      line-height: 60px;
      font-weight: 800;
      margin: 0px 0px 30px 0px;
   }

   &__text {
      font-size: 26px;
      line-height: 36px;
      font-weight: 500;
      margin: 0px 0px 30px 0px;
   }

   &__button {
      width: 370px;
      height: 50px;
      font-weight: 700;
      font-size: 18px;
   }
}
