.main {
   margin: 0px 0px 40px 0px;
   &__container {
      display: flex;
      align-items: center;
   }

   &__body {
      flex: 1 1 50%;
      max-width: 450px;
   }

   &__image {
      flex: 1 1 50%;
   }
   img {
      width: 100%;
   }
}

.body-main {
   &__title {
      font-size: 56px;
      line-height: 60px;
      font-weight: 800;
      margin: 0px 0px 30px 0px;
   }

   &__text {
      font-size: 26px;
      line-height: 36px;
      font-weight: 500;
      margin: 0px 0px 40px 0px;
   }

   &__button {
      width: 100%;
      max-width: 370px;
      padding: 10px 10px;
      font-weight: 700;
      font-size: 18px;
   }
}
