.services {
   margin: 0px 0px 40px 0px;
   &__container {
   }

   &__title {
      text-align: center;
      font-size: 56px;
      line-height: 60px;
      font-weight: 900;
      margin: 0px 0px 40px 0px;
   }

   &__items {
      display: flex;
      flex-wrap: wrap;
      margin: 0px -15px;
   }

   &__item {
      position: relative;
      padding: 40px 30px;
      background: #ffffff;
      border-radius: 10px;
      border: 4px solid black;
      box-shadow: 0px 17px 50px rgba(143, 144, 166, 0.32);
      margin: 0 15px 30px;
      flex: 0 0 calc(33.333% - 30px);
      max-width: calc(33.333% - 30px);
   }
}

.color1 {
   color: $darkred;
}

.color2 {
   color: $darkred;
}

.color3 {
   color: $darkred;
}

.item-services {
   text-align: center;
   &__name {
      margin: 0px 0px 40px 0px;
      text-transform: uppercase;
      font-size: 43px;
      line-height: 45px;
      font-weight: 900;
   }

   &__price {
      margin: 0px 0px 40px 0px;
      text-align: center;
      font-size: 40px;
      line-height: 60px;
      font-weight: 600;
   }

   &__text {
      li {
         padding: 0px 0px 25px 0px;
         font-weight: 500;
         text-align: center;
         font-size: 18px;
      }
      li:last-child {
         font-size: 20px;
         font-weight: 900;
         padding: 0px 0px 0px 0px;
         margin: 0px 0px 40px 0px;
      }
   }
   &__button {
      padding: 20px 20px;
      font-weight: 700;
      font-size: 16px;
   }
}
