.stages {
   margin: 0px 0px 40px 0px;
   &__container {
   }

   &__title {
      text-align: center;
      font-size: 56px;
      line-height: 60px;
      font-weight: 900;
   }

   &__text {
      text-align: justify;
      font-size: 22px;
      line-height: 36px;
      font-weight: 500;
      margin: 40px 0px 30px 0px;
   }

   &__box {
   }
}

.box-stages {
   display: flex;
   margin: 0px 0px 10px 0px;

   &__number {
      font-size: 210px;
      text-align: center;
      align-self: center;
      flex: 1 1 20%;
      color: #777777;
   }

   &__column {
      flex: 1 1 80%;
   }

   &__title {
      text-decoration: underline;
      font-size: 30px;
      line-height: 30px;
      font-weight: 700;
      margin: 20px 0px 20px 0px;
   }

   &__text {
      text-align: justify;
      font-size: 22px;
      line-height: 36px;
      font-weight: 500;
   }

   p {
      margin: 0px 0px 20px 0px;
   }
}

//:before,
//:after {
//   content: "";
//   display: block;
//   height: 1px;
//   background: #1daeff;
//}
