.stages {
   margin: 0px 0px 40px 0px;
   &__container {
   }

   &__title {
      text-align: center;
      font-size: 56px;
      line-height: 60px;
      font-weight: 900;
      margin: 0px 0px 40px 0px;
      @include breakpoint-down(dw2) {
         font-size: 40px;
         line-height: 40px;
         margin: 0px 0px 20px 0px;
      }
      @include breakpoint-down(dw3) {
         font-size: 36px;
      }
   }

   &__text {
      text-align: justify;
      font-size: 22px;
      line-height: 36px;
      font-weight: 500;
      margin: 0px 0px 30px 0px;
      @include breakpoint-down(dw2) {
         font-size: 18px;
         line-height: 26px;
         margin: 0px 0px 20px 0px;
      }
      @include breakpoint-down(dw3) {
         font-size: 16px;
      }
   }

   &__box {
   }
}

.box-stages {
   display: flex;
   margin: 0px 0px 10px 0px;
   @include breakpoint-down(dw4) {
      display: block;
   }

   &__number {
      font-size: 210px;
      text-align: center;
      align-self: center;
      flex: 1 1 20%;
      color: #777777;
      @include breakpoint-down(dw2) {
         font-size: 140px;
      }
      @include breakpoint-down(dw3) {
         font-size: 100px;
      }
   }

   &__column {
      flex: 1 1 80%;
   }

   &__title {
      text-decoration: underline;
      font-size: 30px;
      line-height: 30px;
      font-weight: 700;
      margin: 0px 0px 20px 0px;
      @include breakpoint-down(dw2) {
         font-size: 24px;
         margin: 0px 0px 10px 0px;
      }
      @include breakpoint-down(dw3) {
         font-size: 20px;
      }
      @include breakpoint-down(dw4) {
         text-align: center;
      }
   }

   &__text {
      text-align: justify;
      font-size: 22px;
      line-height: 36px;
      font-weight: 500;
      @include breakpoint-down(dw2) {
         font-size: 18px;
         line-height: 20px;
      }
      @include breakpoint-down(dw3) {
         font-size: 14px;
      }
   }

   p {
      margin: 0px 0px 20px 0px;
   }
}
